<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Image Search API</title>
    <style media="screen">
      .container {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Image Search API</h1>
      <h4>Make requests for image serach terms</h4>
      <p>
        Search for images - /image-search/your-search-term
      </p>
      <p>
        View the latest searches - /image-search/latest
      </p>
    </div>
  </body>
</html>
